@charset "utf-8";
/* Ediciones generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
	color: inherit;
}
body{
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1,h2,h3,h4,h5{
font-family: "Bricolage Grotesque", sans-serif;
}

/* Reseteo de botones */
button {
	border: 0px #000000;
	background-color: transparent;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #364f38;
    color: #FFF6DC;
    padding: 10px;
}

header {  
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.zona-logo {
	font-weight:bolder;
    font-size: 24px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: flex;
	flex-direction:row;
    align-items:center;
	width:350px;
}

.zonalogo p 

.foto-logo {
	width:300px;
}
.loguito { 
 width: auto;
 height: 30px;
}

nav{
    display: flex;
    list-style: none;
    gap: 20px;
	font-weight:520;
    font-size: 16px;
}
 
/* HERO */
	.hero {
		height: 470px;
		background: url("Imagenes/fondo-chocolateria.png") center/cover no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
}
.texto-hero h1{
	font-size:50px;
	font-weight:bolder;
	color:#FFF6DC;
}

.texto-hero p{
	font-size:24px;
	font-weight:normal;
	color:#FFF6DC;
}
.caja-hero {
}

.boton-ver-productos {
    background: #364f38;
    color: #FFF6DC;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 15px;
	font-weight:bold;
	cursor: pointer;
}
.boton-reservar{
	border: solid 3px;
    color: #FFF6DC;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 20px;
	font-weight:bold;
	cursor: pointer;  
}




/* TARJETAS */
.tarjetas {
    padding: 60px 0;
	background: #fff6dc;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card-productos {
    padding: 15px;
    border-radius: 10px;
    text-align:left;
	color: #364F38
}

.card-productos img {
    width: 90%;
    border-radius: 15px;
    margin-bottom: 29px;
}

.card-productos h3 {
 font-size:24px;
 font-weight: bolder;
 margin-bottom: 12px;
}

.card-productos p {
 font-size:18px;
 margin-bottom: "10";
 width: 86%;
}

.biografia{  
	display: flex;
    justify-content:space-between;
    align-items: center;
	flex-direction:row;
	background: #364F38;

}
.biografia div {
	margin: 30px 60px 30px 0px;
}
.foto-Joba img {
    width: 90%;
    border-radius: 20px;
    margin: 39px;
	margin-bottom: 90px;
}

.Historia {
	width: 120%; 
	text-align: left;
	color: #fff6dc;
	
}
.Historia h2 {
	margin-bottom:20px; 
	font-size: 29px;
	font-weight: bold;
}
.Historia p {
	font-size:18px;
}
.recordatorios{
	 background:#fff6dc; 
}
.titulo-recordatorios {
	text-align: center;
	font-size: 28px;
	padding: 25px;
	color: #364F38;
	height: 100px;
	
}
.tarjetas-recordatorios{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}

.card-recordatorios{
    width: 320px;
    height: 300px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    background: #364F38;
}
.card-recordatorios figure{
    width: 50%;
    height: 100%;
    margin: 0;
}
.card-recordatorios img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tarjetas-info-texto{
    width: 50%;
    color: #fff6dc;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tarjetas-info-texto h3{
    font-size: 30px;
    line-height: 1;
    margin-bottom: 18px;
    font-weight: 700;
	color:#fff6dc;
}
.tarjetas-info-texto p{
    font-size: 15px;
    line-height: 1.2;
}

.testimonios{
    width: 100%;
    padding: 80px 120px;
    background: #FFF6DC;
}

.resenas-titulo{
    margin-bottom: 60px;
}

.resenas-titulo h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #282525;
}

.resenas-titulo p{
    font-size: 20px;
    color: #282525;
}


.tarjetas-resenas{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
	
}

.card-resenas{
    width: 280px;
    min-height: 250px;
    background: #ffffff;
    border-radius: 22px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	border: solid 3px;
    color: #E6E6E6;
	box-shadow: 1px 1px 40px -33px #282525;
}

.texto-resena{
    font-size: 18px;
    line-height: 1.5;
    color: #282525;
	font-weight: medium; 
}

.perfil{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
}

.perfil figure{
    width: 55px;
    height: 55px;
    margin: 0;
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.nombre-de-cliente{
    font-size: 18px;
    margin-bottom: 5px;
    color: #282525;
}

.tipo-de-cliente{
    font-size: 14px;
    color: #282525;
}

.pedidos{
    width: 100%;
    background: #364F38;
    padding: 80px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.formulario{
    width: 360px;
    background: #D6CFB9;
    padding: 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formulario h3{
    font-size: 20px;
    color: #282525;
    font-weight: bold;
}

.formulario input,

.formulario textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #f3ead0;
    border-radius: 16px;
    padding: 14px;
    font-size: 15px;
}


.caja-pedido{
    background: #f3ead0;
    border-radius: 16px;
    padding: 16px;
}

.caja-pedido ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detalle-pedido input{
    min-height: 120px;
    resize: none;
}
.pedir{
    padding: 14px 28px;
    border: none;
    border-radius: 12px;
    background: #364F38;
    color: #FFF6DC;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.ubicacion{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ubicacion h3{
    font-size: 40px;
    line-height: 1;
    color: #f3ead0;
}

.ubicacion p{
    font-size: 17px;
    line-height: 1.7;
    color: #bfc4af;
}

.boton-ir-a-sucursal{
    display: inline-block;
    width:inherit;
    padding: 14px 22px;
    background: #232022;
    color: #f5ead3;
    text-decoration: none;
    border-radius: 15px;
    font-weight:bold;
}

.mapa{
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.mapa iframe{
    width: 100%;
    height: 100%;
    border: none;
}

footer{
    width: 100%;
    background: #262120;
    padding: 30px 30px;
}

.elementos-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.parrafo-inferior{
	margin-top:10px;
	margin-bottom: 50px;
}
.elementos-footer h3{
    font-size: 27px;
    font-weight: bold;
    color: #f3ead0;
    margin-bottom: 15px;
}
.elementos-footer p{
    color: #8f8780;
    font-size: 18px;
}

nav{
    display: flex;
    gap: 70px;
}

.cajas-footer{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cajas-footer a{
    color: #f3ead0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.cajas-footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
	font-weight: normal;
}
.cajas-footer li{
    color: #8f8780;
    font-size: 14px;
}
    nav{
        flex-wrap: wrap;
        gap: 60px;
}
.fondo-de-pagina {
	display: flex;
    margin-top: 25px;
	gap: 40px;
	color: #746B64;
}
